{
    "presets": [
        [
            "env",
            {
                "loose": true,
                "modules": false  // babel will NOT convert ES2015 modules to CommonJS modules
            }
        ],
        "angular2"
    ],
    "plugins": [
        [
            "transform-runtime"
        ]
    ]
}
